<mat-card>
  <mat-form-field floatLabel="always">
    <mat-label>{{ name }}</mat-label>
    <input
      matInput
      type="number"
      min="0.0" 
      max="1.0" 
      step="0.1" 
      [value]="this.parameter" 
      (input)="this.parameter = $event.target.value"
      placeholder="{{ this.parameter | number:'1.1-1'}}">
    <mat-hint>enter value between 0 and 1</mat-hint>
  </mat-form-field>
  <mat-slider 
    min="0.0" 
    max="1.0" 
    step="0.1" 
    [value]="this.parameter"
    (change)="this.parameter = $event.value">
  </mat-slider>
</mat-card>
