.upload-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.input-label {
  margin-left: 10px;
}

.example-full-width {
  width: 100%;
}

.hide-input-button {
  display: none;
}

.mat-card {
  color: rgba(0, 0, 0, 0.57);
}

mat-card-subtitle {
  font-weight: 500;
}

.headspace {
  margin-top: 30px !important;
}

th {
  text-align: left;
}

.full-width {
  width: 100%;
}

.sliderblock {
  display: inline-block;
  width: 50%;
}

@media screen and (max-width: 565px) {
  .sliderblock {
    display: block;
    width: auto;
  }
}