<mat-card>
  <mat-card-title>1. Encode</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form [formGroup]="uploadForm" class="upload-form">
      <label class="mat-raised-button" for="configFile">Select input file</label>
        <span class="input-label">Configuration file</span><span *ngIf="selectedFileName">: {{ selectedFileName }}</span>
        <input id="configFile" class="hide-input-button" type="file" (change)="onFileSelect($event)"> 
    </form>
  </mat-card-content>
  <mat-card-content>
    <mat-card>
      <mat-card-subtitle>Features</mat-card-subtitle>
      <mat-card-content>
        <div *ngIf="this.paramsFile">
          <mat-card *ngFor="let feature of this.paramsFile.features">
            <mat-card-subtitle>{{ feature.name }}</mat-card-subtitle>
            <input-slider [className]="'sliderblock'" name="weight"       [(parameter)]="feature.weight"></input-slider>
            <input-slider [className]="'sliderblock'" name="aesthPos"     [(parameter)]="feature.aesthPos"></input-slider>
            <input-slider [className]="'sliderblock'" name="aesthNeg"     [(parameter)]="feature.aesthNeg"></input-slider>
            <input-slider [className]="'sliderblock'" name="ethPos"       [(parameter)]="feature.ethPos"></input-slider>
            <input-slider [className]="'sliderblock'" name="ethNeg"       [(parameter)]="feature.ethNeg"></input-slider>
            <input-slider [className]="'sliderblock'" name="epPos"        [(parameter)]="feature.epPos"></input-slider>
            <input-slider [className]="'sliderblock'" name="epNeg"        [(parameter)]="feature.epNeg"></input-slider>
            <input-slider [className]="'sliderblock'" name="affPos"       [(parameter)]="feature.affPos"></input-slider>
            <input-slider [className]="'sliderblock'" name="affNeg"       [(parameter)]="feature.affNeg"></input-slider>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-subtitle>Beliefs</mat-card-subtitle>
      <mat-card-content>
        <div *ngIf="this.paramsFile">
          <mat-card>
            <mat-card-subtitle>featuresSelf</mat-card-subtitle>
            <mat-form-field floatLabel="always" class="example-full-width">
              <mat-label>featureSelf</mat-label>
              <input 
                matInput
                placeholder="{{ this.paramsFile.beliefs | json }}">
              <mat-hint>Not editable</mat-hint>
            </mat-form-field>
          </mat-card>
          <mat-card>
            <mat-card-subtitle>actionTypes</mat-card-subtitle>
            <mat-form-field floatLabel="always" class="example-full-width">
              <mat-label>actionTypes</mat-label>
              <input 
                matInput
                placeholder="{{ this.paramsFile.beliefs | json }}">
              <mat-hint>Not editable</mat-hint>
            </mat-form-field>
          </mat-card>
          <mat-card>
            <mat-card-subtitle>featureToActions</mat-card-subtitle>
            <mat-form-field floatLabel="always" class="example-full-width">
              <mat-label>featureToActions</mat-label>
              <input 
                matInput
                placeholder="{{ this.paramsFile.beliefs | json }}">
              <mat-hint>Not editable</mat-hint>
            </mat-form-field>
          </mat-card>
          <mat-card>
            <mat-card-subtitle>goalAmbitions</mat-card-subtitle>
            <mat-form-field floatLabel="always" class="example-full-width">
              <mat-label>goalAmbitions</mat-label>
              <input 
                matInput
                placeholder="{{ this.paramsFile.beliefs | json }}">
              <mat-hint>Not editable</mat-hint>
            </mat-form-field>
          </mat-card>
          <mat-card>
            <mat-card-subtitle>actionToGoals</mat-card-subtitle>
            <mat-form-field floatLabel="always" class="example-full-width">
              <mat-label>actionToGoals</mat-label>
              <input 
                matInput
                placeholder="{{ this.paramsFile.beliefs | json }}">
              <mat-hint>Not editable</mat-hint>
            </mat-form-field>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-subtitle>Weight parameters</mat-card-subtitle>
      <mat-card-content>
        <div *ngIf="this.paramsFile">
          <form [formGroup]="paramsForm">
            <input-slider name="idtWeight"            [(parameter)]="this.paramsFile.weightParameters.idtWeight"></input-slider>
            <input-slider name="satisfactionWeight"   [(parameter)]="this.paramsFile.weightParameters.satisfactionWeight"></input-slider>
            <mat-card>
              <mat-card-subtitle>Similarity Weights</mat-card-subtitle>
              <input-slider [className]="'sliderblock'"   name="similarityWeights.ethicsIndicative"         [(parameter)]="this.paramsFile.weightParameters.similarityWeights.ethicsIndicative"></input-slider>
              <input-slider [className]="'sliderblock'"   name="similarityWeights.ethicsCounter"            [(parameter)]="this.paramsFile.weightParameters.similarityWeights.ethicsCounter"></input-slider>
              <input-slider [className]="'sliderblock'"   name="similarityWeights.affordancesIndicative"    [(parameter)]="this.paramsFile.weightParameters.similarityWeights.affordancesIndicative"></input-slider>
              <input-slider [className]="'sliderblock'"   name="similarityWeights.affordancesCounter"       [(parameter)]="this.paramsFile.weightParameters.similarityWeights.affordancesCounter"></input-slider>
              <input-slider [className]="'sliderblock'"   name="similarityWeights.aestheticsIndicative"     [(parameter)]="this.paramsFile.weightParameters.similarityWeights.aestheticsIndicative"></input-slider>
              <input-slider [className]="'sliderblock'"   name="similarityWeights.aestheticsCounter"        [(parameter)]="this.paramsFile.weightParameters.similarityWeights.aestheticsCounter"></input-slider>
              <input-slider [className]="'sliderblock'"   name="similarityWeights.epistemicsIndicative"     [(parameter)]="this.paramsFile.weightParameters.similarityWeights.epistemicsIndicative"></input-slider>
              <input-slider [className]="'sliderblock'"   name="similarityWeights.epistemicsCounter"        [(parameter)]="this.paramsFile.weightParameters.similarityWeights.epistemicsCounter"></input-slider>
            </mat-card> 
            <mat-card>
              <mat-card-subtitle>Disimilarity Weights</mat-card-subtitle>
              <input-slider [className]="'sliderblock'"   name="dissimilarityWeights.ethicsIndicative"      [(parameter)]="this.paramsFile.weightParameters.dissimilarityWeights.ethicsIndicative"></input-slider>
              <input-slider [className]="'sliderblock'"   name="dissimilarityWeights.ethicsCounter"         [(parameter)]="this.paramsFile.weightParameters.dissimilarityWeights.ethicsCounter"></input-slider>
              <input-slider [className]="'sliderblock'"   name="dissimilarityWeights.affordancesIndicative" [(parameter)]="this.paramsFile.weightParameters.dissimilarityWeights.affordancesIndicative"></input-slider>
              <input-slider [className]="'sliderblock'"   name="dissimilarityWeights.affordancesCounter"    [(parameter)]="this.paramsFile.weightParameters.dissimilarityWeights.affordancesCounter"></input-slider>
              <input-slider [className]="'sliderblock'"   name="dissimilarityWeights.aestheticsIndicative"  [(parameter)]="this.paramsFile.weightParameters.dissimilarityWeights.aestheticsIndicative"></input-slider>
              <input-slider [className]="'sliderblock'"   name="dissimilarityWeights.aestheticsCounter"     [(parameter)]="this.paramsFile.weightParameters.dissimilarityWeights.aestheticsCounter"></input-slider>
              <input-slider [className]="'sliderblock'"   name="dissimilarityWeights.epistemicsIndicative"  [(parameter)]="this.paramsFile.weightParameters.dissimilarityWeights.epistemicsIndicative"></input-slider>
              <input-slider [className]="'sliderblock'"   name="dissimilarityWeights.epistemicsCounter"     [(parameter)]="this.paramsFile.weightParameters.dissimilarityWeights.epistemicsCounter"></input-slider>
            </mat-card>
            <!-- matrices and mappings -->
            <mat-card>
              <mat-form-field floatLabel="always" class="example-full-width">
                <mat-label>relevanceRowMapping</mat-label>
                <input 
                  matInput
                  placeholder="{{ this.paramsFile.weightParameters.relevanceRowMapping | json }}">
                <mat-hint>Not editable</mat-hint>
              </mat-form-field>
            </mat-card>
            <mat-card>
              <mat-form-field floatLabel="always" class="example-full-width">
                <mat-label>relevanceWeightMatrix</mat-label>
                <input 
                  matInput
                  placeholder="{{ this.paramsFile.weightParameters.relevanceWeightMatrix | json }}">
                <mat-hint>Not editable</mat-hint>
              </mat-form-field>
            </mat-card>
            <mat-card>
              <mat-form-field floatLabel="always" class="example-full-width">
                <mat-label>useIntentionsRowMapping</mat-label>
                <input 
                  matInput
                  placeholder="{{ this.paramsFile.weightParameters.useIntentionsRowMapping | json }}">
                <mat-hint>Not editable</mat-hint>
              </mat-form-field>
            </mat-card>
            <mat-card>
              <mat-form-field floatLabel="always" class="example-full-width">
                <mat-label>useIntentionsWeightMatrix</mat-label>
                <input 
                  matInput
                  placeholder="{{ this.paramsFile.weightParameters.useIntentionsWeightMatrix | json }}">
                <mat-hint>Not editable</mat-hint>
              </mat-form-field>
            </mat-card>
            <mat-card>
              <mat-form-field floatLabel="always" class="example-full-width">
                <mat-label>decisionRowMapping</mat-label>
                <input 
                  matInput
                  placeholder="{{ this.paramsFile.weightParameters.decisionRowMapping | json }}">
                <mat-hint>Not editable</mat-hint>
              </mat-form-field>
            </mat-card>
            <mat-card>
              <mat-form-field floatLabel="always" class="example-full-width">
                <mat-label>decisionWeightMatrix</mat-label>
                <input 
                  matInput
                  placeholder="{{ this.paramsFile.weightParameters.decisionWeightMatrix | json }}">
                <mat-hint>Not editable</mat-hint>
              </mat-form-field>
            </mat-card>
            <mat-card>
              <mat-form-field floatLabel="always" class="example-full-width">
                <mat-label>engagementRowMapping</mat-label>
                <input 
                  matInput
                  placeholder="{{ this.paramsFile.weightParameters.engagementRowMapping | json }}">
                <mat-hint>Not editable</mat-hint>
              </mat-form-field>
            </mat-card>
            <mat-card>
              <mat-form-field floatLabel="always" class="example-full-width">
                <mat-label>engagementWeightMatrix</mat-label>
                <input 
                  matInput
                  placeholder="{{ this.paramsFile.weightParameters.engagementWeightMatrix | json }}">
                <mat-hint>Not editable</mat-hint>
              </mat-form-field>
            </mat-card>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>2. Compare to goals</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <button mat-raised-button (click)="onGenerateResponse()">Generate response</button>
  </mat-card-content>
  <mat-card-content>
    <mat-card>
      <mat-card-subtitle>Relevance</mat-card-subtitle>
      <mat-card-content>
        <div *ngIf="this.generatedJSON">
          {{ this.generatedJSON['Relevance'] | json }}
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-subtitle>RelevanceTotal</mat-card-subtitle>
      <mat-card-content>
        <div *ngIf="this.generatedJSON">
          {{ this.generatedJSON['RelevanceTotal'] | json }}
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-subtitle>Valence</mat-card-subtitle>
      <mat-card-content>
        <div *ngIf="this.generatedJSON">
          {{ this.generatedJSON['Valence'] | json }}
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-subtitle>Similarity</mat-card-subtitle>
      <mat-card-content>
        <div *ngIf="this.generatedJSON">
          {{ this.generatedJSON['Similarity'] | json }}
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-subtitle>SimilarityTotal</mat-card-subtitle>
      <mat-card-content>
        <div *ngIf="this.generatedJSON">
          {{ this.generatedJSON['SimilarityTotal'] | json }}
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>3. Respond</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-subtitle class="headspace">Covert</mat-card-subtitle>
  <mat-card>
    <mat-card-subtitle>UseIntentions</mat-card-subtitle>
    <mat-card-content>
      <div *ngIf="this.generatedJSON">
        {{ this.generatedJSON['UseIntentions'] | json }}
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-subtitle>UseIntentionsTotal</mat-card-subtitle>
    <mat-card-content>
      <div *ngIf="this.generatedJSON">
        {{ this.generatedJSON['UseIntentionsTotal'] | json }}
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-subtitle>Engagement</mat-card-subtitle>
    <mat-card-content>
      <div *ngIf="this.generatedJSON">
        {{ this.generatedJSON['Engagement'] | json }}
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-subtitle>EngagementTotal</mat-card-subtitle>
    <mat-card-content>
      <div *ngIf="this.generatedJSON">
        {{ this.generatedJSON['EngagementTotal'] | json }}
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card-subtitle class="headspace">Overt</mat-card-subtitle>
  <mat-card>
    <mat-card-subtitle>FeatureSatisfaction</mat-card-subtitle>
    <mat-card-content>
      <div *ngIf="this.generatedJSON">
        {{ this.generatedJSON['FeatureSatisfaction'] | json }}
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-subtitle>Satisfaction</mat-card-subtitle>
    <mat-card-content>
      <div *ngIf="this.generatedJSON">
        {{ this.generatedJSON['Satisfaction'] | json }}
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-subtitle>SatisfactionTotal</mat-card-subtitle>
    <mat-card-content>
      <div *ngIf="this.generatedJSON">
        {{ this.generatedJSON['SatisfactionTotal'] | json }}
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-subtitle>ActionTendencies</mat-card-subtitle>
    <mat-card-content>
      <div *ngIf="this.generatedJSON">
        {{ this.generatedJSON['ActionTendencies'] | json }}
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-subtitle>Tradeoff</mat-card-subtitle>
    <mat-card-content>
      <div *ngIf="this.generatedJSON">
        {{ this.generatedJSON['Tradeoff'] | json }}
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-subtitle>TradeoffTotal</mat-card-subtitle>
    <mat-card-content>
      <div *ngIf="this.generatedJSON">
        {{ this.generatedJSON['TradeoffTotal'] | json }}
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-subtitle>Action</mat-card-subtitle>
    <mat-card-content>
      <div *ngIf="this.generatedJSON">
        {{ this.generatedJSON['Action'] | json }}
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card-content>
    <button mat-raised-button (click)="onDownloadOutput()">Download output file</button>
  </mat-card-content>
</mat-card>