/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card {
  margin: 10px 5px 10px 5px;
}

mat-card-content {
  margin-top: 30px;
}