<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  <mat-toolbar-row>
    <div>Demonstrator</div>
    <span class="nav-tool-items">
      <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
    [fixedTopGap]>
    <mat-nav-list>
      <a mat-list-item [routerLink]= "['/about']">
        <mat-icon>info</mat-icon> About
      </a>
      <a mat-list-item [routerLink]= "['/generate']">
        <mat-icon>tag_faces</mat-icon> Generate
      </a>
      <a mat-list-item [routerLink]= "['/help']">
        <mat-icon>help</mat-icon> Help
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>