/* give nav icons some space */
mat-icon {
  margin-right: 20px;
}

/* bump hamburger icon */
.nav-tool-items {
  margin-left: 20px;
  margin-top: 7px;
}

/* make header sticky and on top */
.header {
  position: fixed;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
.mat-drawer .mat-list-base .mat-list-item {
  color: rgba(0, 0, 0, 0.57);
}

mat-sidenav-content {
  margin-top: 64px;
}

@media screen and (max-width: 599px) {
  .mat-toolbar-row {
    height: 64px;
  }
}
