<mat-card>
  <mat-card-title>Help</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    Flow of this demonstrator:<br />
    1. Choose an input file: features, beliefs and weight parameters.<br />
    2. Generate output file.
    3. Download output file.
  </mat-card-content>
</mat-card>
